<app-header></app-header>
<br>
<br>

<!-- <app-bootstrap-demo></app-bootstrap-demo>

<app-material-ui-demo></app-material-ui-demo> -->

<app-todo-list [item]="title" [item2]="'Hello'"></app-todo-list>
<app-form></app-form>
<app-reactive-form></app-reactive-form>

<!-- <button (click)="toggle()">Toggle</button>

<h1 *ngIf="flag">Hello there</h1>
<br>
<br>

<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
    <input ngModel name="name" type="text" placeholder="Enter name">
    <br><br>
    <input ngModel name="email" type="email" placeholder="Enter email">
    <br><br>
    <input ngModel name="pass" type="password" placeholder="Enter password">
    <br><br>
    <button>Submit</button>
</form>

<br>
<br>
<h1>Hello {{title}}</h1> -->
<!-- <app-user></app-user> -->

<!-- interpolation -->
<!-- <input #uname type="text" name="username" value={{data}}>
<button (click)="btnFun(uname.value)">click</button>

<br>
<br> -->


<!-- data binding -->
<!-- <input type="text" name="username2" [value]=data>

<br>
<br> -->

<!-- if show is true then it print hello else it pring data of else block -->
<!-- <h1 *ngIf="show=='yes'; then ifblockid else elseblockid">Hello</h1>

<ng-template #ifblockid>
    <h1>inside if block</h1>
</ng-template>

<ng-template #elseblockid>
    <h1>this is inside else block</h1>
</ng-template> -->

<!-- nested if else -->
<!-- <ng-template [ngIf]="color==='red'">
    <h1 style="color:red">Red color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
    <h1 style="color:green">Green color</h1>
</ng-template> -->

<!-- switch -->

<!-- <div [ngSwitch]="color">
    <h1 style="color:red" *ngSwitchCase="'red'">Red switch case</h1>
    <h1 style="color:yellow" *ngSwitchCase="'yellow'">Yellow switch case</h1>
    <h1 style="color:green" *ngSwitchCase="'green'">Green switch case</h1>
    <h1 style="color:aqua" *ngSwitchDefault="">default switch case</h1>
</div> -->

<!-- for loop -->

<!-- <ul *ngFor="let user of users">{{user}}</ul> -->

<!-- <ul *ngFor="let detail of user_details">
    <li>{{detail.name}}</li>
    <li>{{detail.age}}</li>
</ul>

<h1 [style.color]="color">Style binding</h1> -->