<!-- <p>user works!</p>
<button (click)="fun1('komal', 123, 12.12)">Click</button>
<br>
<br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="Enter here..">

<br>
<br>

<input type="text" placeholder="Enter your name" #id name="your_name">
<button (click)="displayVal(id.value)">click</button>

<h2>Your entered : {{disp}}</h2> -->
<h1 style="color:pink" class="heading">Hello there </h1>
<style>
    .heading{
        color: aqua;
    }
</style>

<button (click)="counter('add')">+</button>
<p>count : {{count}}</p>
<button (click)="counter('sub')">-</button>